# Jinja2 template for PE-Routers

# System
system {
    host-name pe2;
    
    root-authentication {
        encrypted-password "$1$salt$IEd.dPRrJY41NYnnaBENQ1";
    }
    
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$salt$IEd.dPRrJY41NYnnaBENQ1";
            }
        }
    }
# gNMI Configuration
    services {
        extension-service {
            request-response {
                grpc {
                    routing-instance mgmt_junos;
                    clear-text {
                        port 32767;
                    }
                }
            }
        }
    }
}

# Interface Configuration
interfaces {
    lo0 {
        unit 0 {
            family inet {
                address 10.0.0.20/32;
            }
            family mpls;
        }
    }
    ge-0/0/0 {
        description "to RR";
        unit 0 {
            family inet {
                address 10.1.20.1/31;
            }
        }
    }
    ge-0/0/2 {
        description "to P-router";
        unit 0 {
            family inet {
                address 10.1.2.0/31;
            }
            family mpls;
        }
    }
    ge-0/0/1 {
        description "to CE";
        unit 0 {
            family inet {
                address 192.168.12.1/24;
            }
        }
    }
}

policy-options {
    policy-statement NEXT-HOP-SELF {
        then {
            next-hop self;
            accept;
        }
    }
}

# Protocols Configuration
routing-options {
    router-id 10.0.0.20;
    autonomous-system 65000;
}

protocols {
    ospf {
        area 0.0.0.0 {
            interface lo0.0 {
                passive;
            }
            interface ge-0/0/2.0 {
                interface-type p2p;
            }
            interface ge-0/0/0.0 {
                interface-type p2p;
            }
        }
    }
    mpls {
        interface ge-0/0/2.0;
    }
    ldp {
        track-igp-metric;
        interface ge-0/0/2.0;
        interface lo0.0;
    }
    bgp {
        group IBGP-RR {
            type internal;
            local-address 10.0.0.20;
            family inet {
                unicast;
            }
            family inet-vpn {
                unicast;
            }
            export NEXT-HOP-SELF;
            neighbor 10.0.0.100;
        }
        group EBGP {
            type external;
            peer-as 65002;
            neighbor 192.168.12.2;
        }
    }
}

# SNMP Configuration
snmp {
    community public {
        authorization read-only;
        routing-instance mgmt_junos;
    }
    routing-instance-access;
}